{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="input.html">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Digital inclusion data for Right to work
      </h1>
      <p>Below are the research participants' categories that have been entered to date:</p>

<img src="app/assets/images/dashboard-bar.svg" alt="scale"/>

<a href="#">Download a CSV file of all the data</a>


    </div>
  </div>

{% endblock %}
